@model WebUI.Models.Entities.UserViewModel

@{
    ViewBag.Title = Model.Username;
}
<h3> @Model.Username profile</h3>
@{ 
    if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Grant moderator rights", "GrantModeratorRights",new {id= Model.Id})
    }
}
<div style="margin-bottom:2em;margin-left:6em;">
    <img width="180" height="180" class="img-thumbnail" src="@Url.Action("DisplayAvatar","Account", new { id = Model.Id })" />
</div>
<div>
    <hr />
    <dl class="dl-horizontal">    
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reputation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reputation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.Label("Full name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname) @Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.Label("Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.Adress1) @Html.DisplayFor(model => model.Adress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        @{ if (Model.Birthdate.HasValue)
            {
               <dd> @Model.Birthdate.Value.ToString("d")</dd>
            }
        }


        <dt>
            @Html.Label("Personal info")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Describing)
        </dd>

    </dl>
</div>
