@model IEnumerable<WebUI.Models.UserEditByModerator>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reputation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionModerating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reputation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            <ul>
                @foreach(var e in item.SectionModerating)
                {
                    <li>@e.SectionId</li>
                }
            </ul>
        </td>
        <td>
            @Html.ActionLink("Details", "Account", new { username = item.Username }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId})
        </td>
    </tr>
}

</table>
