@using WebUI.HtmlHelpers
@model WebUI.Models.TopicsViewModelWithPaging
@{
    ViewBag.Title = "Topics";
}
<h2>@ViewBag.SectionName</h2>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create new topic", "Create", "Topic", new { sectionid = ViewBag.SectionId }, null)
}
@foreach (var t in Model.Topics)
{
    <div class="item">
        <h3>@Html.ActionLink(@t.Name, "Topic", "Topic", new { id = @t.Id, page = 1 }, null)</h3>
        created by @t.CreatorUsername on @t.CreationDate.ToString("d")
        @if (Model.UserIsModerator)
        {
            @Html.ActionLink("Edit", "Edit", "Topic", new { id = t.Id }, null) @Html.ActionLink("Delete", "Delete", "Topic", new { id = t.Id }, null)
        }
        <br />
    </div>
}
<div align="right" class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Section", new { page = x }))
</div>

